// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.admin_users_container {
  width: 300px;
  border: 2px solid black;
  margin: 10px;
}