<h1>index page</h1>
検索結果ではないので、投稿履歴ページ


<div>
  <% @results.each do |result| %>
    <%= link_to public_posted_content_path(result.id) do %>
      <%= result.title %>
    <% end %>
  <% end %>
</div>
