<h2>通報された投稿があるユーザーのリスト</h2>

<table class="table">
  <thead>
    <tr>
      <th>会員ID</th>
      <th>プロフィール画像</th>
      <th>名前</th>
    </tr>
  </thead>
  <tbody>
    <% @reported_users.each do |reported_user| %>
      <tr>
        <td><%= reported_user.id %></td>
        <td><%= image_tag reported_user.profile_image %></td>
        <td><%= reported_user.name %></td>
        <td><%= link_to '投稿を確認する', admin_user_path(reported_user.id) %>
      </tr>
    <% end %>
  </tbody>
</table>