<!--ユーザーのプロフィール欄-->
<div class="users_container">

  <%= render 'public/users/profile', user: @user %>

  <% unless @user == current_user %>
  <div class="users_follow_btn">
    <%= render 'public/relationships/follow_btn', user: @user %>
  </div>
  <% end %>

  <% if @user.id == current_user.id %>
  <div class="users_edit_profile">
    <%= link_to 'プロフィール編集', edit_public_user_path(current_user.id) %>
  </div>
  <% end %>

</div>


<!--ユーザーの投稿履歴-->
<div>
  <%= render 'public/posted_contents/list', posted_contents: @posted_contents %>
</div>